<!doctype html>
<html ng-app="kmiApp" >
  <head>
    <meta charset="UTF-8"/>
    <title>Kūno masės indeksas</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="kmi.js"></script>
    
    
    
  </head>
    
    
  <body>
    
          <h1> Kūno masės indeksas</h1>
        
    <div  ng-controller="KmiController">
      <form ng-submit="Calculate()" role="form">
        <div class="form-group">
          <label for="weight">Svoris:</label>
          <input id="weight" placeholder="Kilogramai " ng-model="Weight" class="form-control" required/>
        </div>
        
        <p class="indent"></p>

        <div class="form-group">
          <label for="height">Ūgis:</label>
          <input id="height" placeholder="Centimetrai " ng-model="Height" class="form-control" required/>
        </div>

        <p class="indent"></p>
        
        <input  type="submit" value="Skaičiuoti">
          
          <p class="indent"></p>
          
        <input type="button" value="Iš naujo" ng-click="Reset()">
      </form>

      <div ng-if="Value != '--'" class="well" style="margin-top:50px;">
        <p>KMI: <i>{{Value.toFixed(2)}} ({{Classification}})</i></p>
      </div>
    </div>
  </body>
    
 
    
    
    
</html>